body{
    background-color: goldenrod;
    background-image: url(../Imagenes/fondo_grande.jpg);
    background-repeat: repeat-x;
    background-size: 360px;
}
header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.logo{
    width: 200px;
}
nav{
    background-color:#3949AB;
    text-align: center;
    font-family:'Perpetua', cursive;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.titulo{
    text-decoration-line: underline;
    font-family:'Perpetua', cursive;
    font-size: 2cm;
}
.texto{
    text-align: justify;
    font-style:italic;
    font-size: 7mm;
}
.subtitulo{
    text-align: center;
    font-family: 'Perpetua';
    font-size: 8mm;
    text-shadow:0px 2px 10px black ; 
}
.titular{text-align: center;}
img{padding: 10px;}
ol{
    color:#FDEBD0;
    text-align:left;
    font-family: 'Perpetua';
    font-size: 6mm;
}
ul{
    color:#FDEBD0;
    text-align:left;
    font-family: 'Perpetua';
    font-size: 6mm;
}
h2{
    color:#880E4F;
    font-family:'Perpetua';
    font-size: 8mm;
    text-align: center;
}
.linea{
    background-color: #880E4F;
    color:#3949AB;
}
.imguno{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.imgdos{
    width: 500px;
    height: 800px;
}
.iconowhat{
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px
}
section{
    height: 700px;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap column;
    align-content: space-between;
}
.segundo{
    height: 300px;
    overflow: scroll;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}
aside{
    height: 400px;
    overflow: scroll;
    display: flex;
}
.redes{
    width: 30px;
}
.block1{
    width: 300px;
}
.block2{
    width: 300px;
}
.block3{
    width: 300px;
}
footer{
    background-color:#880E4F;
    color:#3949AB;
    font-size: 10px;
    display:flex;
    align-items: center;
    align-content:center;
    justify-content: space-around;
    flex-wrap: wrap;

}